/* Widget styles */

.latitude-widget-container {
  font-size: 15px;
  margin: 10px 0px;
  font-weight: 450;
  display: inline-block;
}

.latitude-widget-logo {
  position: relative;
  top: 5px;
  white-space: nowrap;
  display: inline-block;
}

.latitude-widget-text-container {
  position: relative;
  margin-left: 10px;
  white-space: nowrap;
  display: inline-block;
}

.latitude-widget-text-container a {
  position: relative;
  text-decoration: underline;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  color: #3a3a3a;
}

.latitude-widget-text-container a:visited {
  text-decoration: underline;
  color: #3a3a3a;
}

/* Checkout styles */

.latitude-payment-wrapper {
  padding: 10px !important;
  max-width: 500px;
}

.latitude-payment-wrapper a {
  font-size: 12px;
  color: #0046aa;
  font-weight: 600;
  text-decoration: underline;
}

.latitude-payment-text {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}

.latitude-payment-text--small {
  font-size: 12px;
  margin-bottom: 0;
}

.latitude-payment-icon {
  vertical-align: middle !important;
  margin-left: 10px;
  height: 34px;
  padding: 4px 0;
  width: auto;
}

.latitude-content-image-container {
  display: flex;
  flex-direction: row;
}

.payment-content-image {
  height: 65px !important;
  width: auto;
}

.latitude-payment-button {
  width: 80%;
  font-size: 18px !important;
  line-height: 1 !important;
  padding: 14px 17px !important;
}
