<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <latitude>
                <active>1</active>
                <model>Latitude\Checkout\Model\Payment</model>
                <merchant_id />
                <merchant_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <test_mode>1</test_mode>
                <version>v0.1.29</version>
                <terms_url />
                <order_status>pending</order_status>
                <payment_action>sale</payment_action>
                <title>Latitude Interest Free</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AU,NZ</specificcountry>
                <allowspecificcurrency>1</allowspecificcurrency>
                <currency>AUD,NZD</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
            </latitude>
        </payment>
    </default>
</config>
