<div
  class="payment-method"
  data-bind="css: {'_active': (getCode() == isChecked())}"
>
  <div class="payment-method-title field choice">
    <input
      type="radio"
      name="payment[method]"
      class="radio"
      data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"
    />
    <label data-bind="attr: {'for': getCode()}" class="label">
      <span id="latitude-payment-label" data-bind="text: getContent().label" />
      <img
        id="latitude-payment-logo"
        data-bind="attr: {src: getContent().logoURL}"
        class="payment-icon"
        style="
          vertical-align: middle;
          margin-left: 10px;
          height: 34px;
          width: auto;
        "
        alt="Latitude"
      />
    </label>
  </div>

  <div
    class="payment-method-content"
    style="padding: 0 10px !important; max-width: 500px !important"
  >
    <div id="latitude-payment--main">
      <div style="display: flex !important">
        <p style="margin-top: 14px !important; margin-bottom: 14px !important">
          <strong>Enjoy Now. Pay Later.</strong>
        </p>
      </div>

      <p
        style="
          margin-top: 14px !important;
          margin-bottom: 14px !important;
          text-align: left;
        "
      >
        Flexible Interest Free Plans to suit your needs
      </p>
      <p
        style="
          margin-top: 14px !important;
          margin-bottom: 14px !important;
          font-size: 12px;
          text-align: left;
        "
      >
        You will be redirected to Latitude complete your order
      </p>
    </div>

    <div class="primary">
      <button
        class="action primary checkout"
        style="
          width: 100% !important;
          max-width: 400px !important;
          font-size: 18px !important;
          line-height: 1 !important;
          padding: 14px 17px !important;
        "
        type="submit"
        data-bind="
                  click: completeOrder,
                  attr: {title: $t('Choose a plan')},
                  enable: (getCode() == isChecked())
                  "
      >
        <span
          id="latitude-payment-button"
          data-bind="i18n: 'Choose a plan'"
        ></span>
      </button>
    </div>

    <div id="latitude-payment--footer"></div>
  </div>
</div>
