<div
  class="payment-method"
  data-bind="css: {'_active': (getCode() == isChecked())}"
>
  <div class="payment-method-title field choice">
    <input
      type="radio"
      name="payment[method]"
      class="radio"
      data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"
    />
    <label data-bind="attr: {'for': getCode()}" class="label">
      <img
        data-bind="attr: {src: getLogoURL()}"
        class="payment-icon latitude-payment-icon"
        alt="Latitude"
      />
    </label>
  </div>

  <div class="payment-method-content latitude-payment-wrapper">
    <p>
      <strong data-bind="text: getContent().title"></strong>
      <a target="_blank" data-bind="attr: {href: getContent().applyURL}"
        >Learn more</a
      >
    </p>

    <p data-bind="text: getContent().heading"></p>

    <img
      data-bind="attr: {src: getContent().image1}"
      class="payment-content-image"
      alt="Latitude"
    />

    <p data-bind="text: getContent().description1"></p>

    <p
      class="latitude-content-small"
      data-bind="text: getContent().description2"
    ></p>

    <div class="primary">
      <button
        class="action primary checkout latitude-payment-button"
        type="submit"
        data-bind="
                  click: completeOrder,
                  attr: {title: $t('Choose a plan')},
                  enable: (getCode() == isChecked())
                  "
      >
        <span data-bind="i18n: 'Choose a plan'"></span>
      </button>
    </div>

    <p class="latitude-content-small">
      <span data-bind="text: getContent().applyText"></span>
      <a target="_blank" data-bind="attr: {href: getContent().applyURL}"
        >Apply here</a
      >
    </p>

    <p class="latitude-content-small">
      By continuing, you agree to our
      <a target="_blank" data-bind="attr: {href: getTermsURL()}"
        >Terms and conditions</a
      >
    </p>
  </div>
</div>
