<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="lmerchant" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                 <label>Lmerchant</label>

                <comment><![CDATA[<p>Interest-free and other payment options by Lmerchant. <a href="https://www.latitudefinancial.com.au" target="_blank">Click here to know more</a></p><img class="logo" src="https://dvh1deh6tagwk.cloudfront.net/niche-builder/5d5de04c57373.png" height="80"/>]]></comment>
                <attribute type="expanded">1</attribute>

                <field id="version" type="text" translate="label comment" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Lmerchant\Checkout\Block\Adminhtml\System\Config\Form\Version</frontend_model>
                </field>
                <field id="active" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <config_path>payment/lmerchant/active</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="merchant_id" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant ID</label>
                    <config_path>payment/lmerchant/merchant_id</config_path>
                </field>
                <field id="merchant_secret" translate="label" type="obscure" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Secret Key</label>
                    <config_path>payment/lmerchant/merchant_secret</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Mode</label>
                    <config_path>payment/lmerchant/sandbox_mode</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
