<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <body>
        <referenceContainer name="checkout.cart.methods">
            <block class="Latitude\Checkout\Block\StockLeft"
                name="latitude.cart.buynow"
                after="checkout.cart.shortcut.buttons"
                template="Latitude_Checkout::latitude/stock_left.phtml" 
            />
        </referenceContainer>
    </body>
</page>