<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <body>
        <referenceContainer name="checkout.cart.methods">
            <block 
                class="Latitude\Checkout\Block\Banner"
                name="Latitude.banner.cart"
                after="checkout.cart.shortcut.buttons"
                template="Latitude_Checkout::latitude/banner.phtml" 
            />
        </referenceContainer>
    </body>
</page>